default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.13

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: destroyed-symlinks
      # - id: detect-aws-credentials
      - id: detect-private-key
      # - id: double-quote-string-fixer
      # - id: file-contents-sorter
      - id: fix-byte-order-marker
      # - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [
          --pytest-test-first
        ]
        exclude: "tests/const.py"
      - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: check-yaml
        name: "Check YAML"
      - id: end-of-file-fixer
      - id: trailing-whitespace
        name: "Check trailing whitespace(s)"
      - id: check-executables-have-shebangs
        name: "Check scripts"
        stages: [manual]
      - id: no-commit-to-branch
        name: "Check branch"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff
        name: "Ruff check"
        args:
          - --fix
      - id: ruff-format
        name: "Ruff format"
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        name: "Check Py upgrade"
        args: [--py311-plus]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: "Check Code Spelling"
        args:
          - --ignore-words-list=informations,jpi
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^userdata/|^fixtures/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: "Bandit checking"
        args:
          - --quiet
          - --format=custom
          - --configfile=.bandit.yaml
        files: ^(pyjpi|tests|script)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: "YAML linting"
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: "Shell checking"
        args:
          - --external-sources
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.2
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        name: "Python typing"
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(pyjpi|tests|scripts)/.+\.py$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: pytest
        name: "pytest"
        entry: scripts/run-in-env.sh pytest --log-level info tests/ --cov='pyjpi/'
        language: script
        types: [python]
        pass_filenames: false
        files: ^(pyjpi|tests|scripts)/.+\.py$
      - id: pylint
        name: "pylinting"
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^(pyjpi|tests|scripts)/.+\.py$
        args:
          - >-
            --function-rgx=^(?:[a-z_][a-z0-9_]{2,60}|(?=[A-Za-z_][A-Za-z0-9_]*$)(?=.*(?:jpiInit|battInfo|getDeviceName))[A-Za-z_][A-Za-z0-9_]*)$
          - >-
            --method-rgx=^(?:[a-z_][a-z0-9_]{2,60}|(?=[A-Za-z_][A-Za-z0-9_]*$)(?=.*(?:jpiInit|battInfo|getDeviceName))[A-Za-z_][A-Za-z0-9_]*)$
          - >-
            --max-line-length=160
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        require_serial: true
        types_or: [python, pyi]
        files: ^(pyjpi|tests|scripts)/.+\.(py|pyi)$
