name: _release
on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: false
    outputs:
      tag:
        value: ${{ jobs.release.outputs.tag }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Setup variables
        id: vars
        run: |
          echo "tag=${{ inputs.tag || github.ref_name }}" >> $GITHUB_OUTPUT
          echo "source=HEAD" >> $GITHUB_OUTPUT

      - name: Compute package name
        id: package
        run: echo "package=${{ github.event.repository.name }}-${{ steps.vars.outputs.tag }}" >> $GITHUB_OUTPUT

      - name: Archive tar.gz
        run: |
          git archive --format tar.gz --prefix ${{ steps.package.outputs.package }}/ ${{ steps.vars.outputs.source }} > ${RUNNER_TEMP}/${{ steps.package.outputs.package }}.tar.gz
          ls -l ${RUNNER_TEMP}/${{ steps.package.outputs.package }}.tar.gz

      - name: Archive zip
        run: |
          git archive --format zip --prefix ${{ steps.package.outputs.package }}/ ${{ steps.vars.outputs.source }} > ${RUNNER_TEMP}/${{ steps.package.outputs.package }}.zip

      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: ${{ steps.vars.outputs.tag }}
        run: |
          gh release create "$TAG" \
            --title "Release v$TAG" --generate-notes \
            ${RUNNER_TEMP}/${{ steps.package.outputs.package }}.tar.gz \
            ${RUNNER_TEMP}/${{ steps.package.outputs.package }}.zip
