# This workflow runs when a new (non-rc) tag is pushed:
# 1) runs all checks
# 2) publish to TestPyPI
# 3) create a GitHub release with source distributions

name: New tag

on:
  workflow_dispatch:
  push:
    tags:
      - '*'               # run on any new tag

env:
  VENV: venv
  CONTAINER: "python:3.13-slim"

jobs:
  diag:
    uses: "${{ github.repository }}/.github/workflows/_diag.yml@master"

  gate:
    # allow manual runs OR tag pushes that are NOT '-rc'
    if: ${{ github.event_name == 'workflow_dispatch' || (startsWith(github.ref, 'refs/tags/') && !contains(github.ref_name, '-rc')) }}
    runs-on: ubuntu-latest
    steps:
      - name: Gate
        run: |
          echo "gate passed: ${{ github.ref_type }}='${{ github.ref_name }}'"
